*{
    font-family: 'Bodoni Moda', serif;
}

h4 {
    font-weight: bold;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 3.125rem auto auto auto;
    text-align: center;
    background-color: white; 
    border-radius: 1.5625rem;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.search-bar {
    margin-left: 25%;
}

.img-categories {
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-small {
    width: 100px;
    height: 100px;
}

.login-signup {
    float: left;
}

.about-section {
    padding: 50px 0 50px 0;
}

.welcome-message {
    padding: 50px;
    text-align: center;
}

.cards {
    text-align: center;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 36px 18px 36px;
    cursor: pointer;
    z-index: 1;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-static{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    z-index: 1;
}

.card-static:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.cart-img{
    height: auto;
    width: 10rem;
}

.draggable {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
}

.dropzone {
    background-color: white;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.resize-drag {
    width: 120px;
    border-radius: 8px;
    padding: 20px;
    margin: 1rem;
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;

    touch-action: none;

    /* This makes things *much* easier */
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 22px;
    background-color: rgb(242, 242, 242);
}

.profile-container {
    margin: 0 200px 0 200px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

.carousel {
    margin: 50px 0 25px 0;
    height: 400px;
}

.carousel-img {
    height: 350px;
    min-width: 500px;
}

.btn-homepage {
    width: 75%;
}

.about-section {
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(242, 242, 242);
}

.card-about {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 20px;
    width: 50%;
}

.container-about {
    padding: 0 16px;
}

.container-checkout {
    width: 100%;
    max-width: 700px;
    padding: 50px;
    margin: 50px auto auto auto;
    background-color: white; 
    border-radius: 1.5625rem;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.container-factura {
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    text-align: center;
    margin: 50px auto auto auto;
    background-color: white; 
    border-radius: 1.5625rem;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.container-paypal {
    width: 100%;
    max-width: 90%;
    padding: 50px;
    margin: 50px auto auto auto;
    background-color: white; 
    border-radius: 1.5625rem;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.container-mueble {
    width: 100%;
    max-width: 90%;
    padding: 50px;
    margin: 50px auto auto auto;
    background-color: white; 
    border-radius: 1.5625rem;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.cards-cc img{
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid royalblue;
    border-radius: 10px;
    padding: 10px;
}

.input-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-text{
    text-align: center;
    margin: 2.0rem;
}

.navbar {
    position: fixed;
    top: 0;
}