
.form-login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 100px auto auto auto; 
    text-align: center;
}

.search-bar{
    margin-left: 25%;
}

.img-categories{
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.img-small{
    width: 100px;
    height: 100px;
}

.login-signup{
    float: left;
}

.cards {
    text-align: center;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }