
.form-login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 100px auto auto auto;  
    text-align: center;
}

.search-bar{
    margin-left: 25%;
}

.img-categories{
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.img-small{
    width: 100px;
    height: 100px;
}